body{margin:0;background-color: #ffefe6;}
body,html{font-family: 'Kumbh Sans', sans-serif;font-size: 62.5%;}
*,*::after,*::before{box-sizing: border-box;}
.container{max-width: 1200px;margin: auto;padding: 0 1.6rem;}
ul{padding: 0;margin:0;list-style-type: none;}
a{text-decoration: none;transition: all .4s ease-in-out;}
button:focus{outline: none;}
/* navbar */
header{margin-top: 3.2rem;}
header .navbar{display: flex;align-items: center;flex-wrap: wrap;padding: 1.6rem 0;background-color: #ffffff;padding: 2.4rem 1.6rem;border-radius: 8px;box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);}
header .navbar .logo a{font-size: 2.4rem;font-weight: bold;color: #292929;}
header .navbar .navigation{margin-left: auto;}
header .navbar .navigation.active{display: block;}
header .navbar .navigation nav ul{display: flex;justify-content: flex-end;}
header .navbar .navigation nav ul li{position: relative;}
header .navbar .navigation nav ul li a{display: flex;padding: .4rem 1.6rem;font-size: 1.6rem;color: #3b3b3b;}
header .navbar .navigation nav ul li a:hover{color: #ff912b;}
header .navbar .navigation nav ul li .dropdown-menu{position: absolute;top: 100%;left: 0;width: 160px;background-color: #ffffff;padding: .8rem 0;box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);border-radius: 4px;transform: translateY(24px);opacity: 0;transition: all .4s ease-in-out;max-height: 0;}
header .navbar .navigation nav ul li .dropdown-menu a{padding: .6rem 1.6rem;font-size: 1.2rem;}
header .navbar .navigation nav ul li .dropdown-menu ul{flex-direction: column;}
header .navbar .navigation nav ul li.dropdown:hover .dropdown-menu{opacity: 1;transform: translateY(0);max-height: 1000px;}
header .navbar .navigation nav ul li.dropdown > a::after{position: relative;content: "";height: 16px;width: 16px;background: url(/icon/chevron-down.svg);background-size: cover;margin-left: .4rem;transition: all .4s ease-in-out;}
header .navbar .navigation nav ul li.dropdown:hover > a::after{transform: rotate(180deg);}
header .navbar .menu-button{display: none;margin-left: auto;}
header .navbar .menu-button button{border: none;background: transparent;cursor: pointer;}
@media (max-width:991px){
    header .navbar .logo a{font-size: 1.6rem;}
    header .navbar .navigation{display: none;order: 3;flex-basis: 100%;margin-top: .8rem;}
    header .navbar .navigation nav ul{flex-direction: column;}
    header .navbar .navigation nav ul li a{padding: .8rem 0;}
    header .navbar .navigation nav ul li .dropdown-menu{position: relative;padding: 0;box-shadow: none;width: 100%;}
    header .navbar .menu-button{display: block;order: 2;}
}
/* navbar */